{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
	<h1 n:block=title>Restaurace</h1>

</div>

<div class="container">

	{foreach $restaurants as $restaurant}
		<div class="restaurant">
			<h2><a href="{$restaurant->url}"> {$restaurant->name}</a></h2>
			<p>{$restaurant->address}</p>
			<p><a class="btn btn-primary" n:href="Homepage:detail $restaurant->id">jidelnicek</a></p>


		</div>
	{/foreach}

</div>
