{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Restaurace</h1>

</div>

<div id="content">

	{foreach $restaurants as $restaurant}
		<div class="restaurant">
			<div><a href="{$restaurant->url}"> {$restaurant->name}</a></div>
			<p>{$restaurant->address}</p>
			<p><a n:href="Homepage:detail $restaurant->id">jidelnicek</a></p>


		</div>
	{/foreach}

</div>

<style>

</style>
